/************************************* 
CSS RESET
**************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/************************************* 
BASE RULES
**************************************/

body {
    font-family: 'Open Sans', sans-serif;
}


/************************************* 
LAYOUT RULES
**************************************/
.wrap {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}



/************************************* 
COMPONENTS
**************************************/


/************************************* 
MODULES
**************************************/

.header {
    background-color: rgba(81, 95, 103, .7);
    padding: 50px 0;
}
.header .wrap {
    overflow: auto;
}

.logo {
    display: inline-block;
    margin-top: 10px;
}
.logo img {
    height: 22px;
}


.menu {
    list-style: none;
    float: right;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: white;
    border: 2px solid transparent;
    padding: 10px 18px;
}

.menu a:hover {
    border-color: #4BC9FF;
    color: #4BC9FF;
}